@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Instrument+Sans:wght@400;500;600;700&family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500;600;700&family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&family=Syne:wght@400;500;600;700;800&family=Roboto+Condensed:wght@400;700&display=swap');
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-poppins: 'Poppins', sans-serif;
    --font-playfair: 'Playfair Display', serif;
    --font-bebas: 'Bebas Neue', sans-serif;
    --font-inter: 'Inter', sans-serif;
    --font-jetbrains: 'JetBrains Mono', monospace;
    --font-syne: 'Syne', sans-serif;
    --font-condensed: 'Roboto Condensed', sans-serif;

}

html {
    scrollbar-width: thin;
    scrollbar-color: #ffffff #131315;
}

.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #ffffff transparent;
}

html{
    scroll-behavior: smooth;
}

[x-cloak] {
    display: none !important;
}

.reveal-item {
    opacity: 0;
    transform: translateY(2rem);
    transition: opacity 0.7s ease-out, transform 0.7s ease-out;
}

.reveal-item.is-visible {
    opacity: 1;
    transform: translateY(0);
}